
.boxshade {
  box-sizing: border-box;

  margin: 0;
  font-family: "Quicksand", sans-serif !important;
}

/* The grid: Four equal column1s that floats next to each other */
.column1 {
  float: left;
  /* width: 25%; */
  padding: 10px;
}

/* Style the images inside the grid */
.column1 img {
  opacity: 0.5;
  cursor: pointer;
}

.column1 img:hover {
  opacity: 1;
}

/* Clear floats after the column1s */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container1 {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(7, 7, 7);
  font-size: 35px;
  cursor: pointer;
}